head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  link(href='./styl.css', rel='stylesheet')
body
  article
  
    h1.title David Horowitz:
      br
      | A Life Remembered
      br
      | (1903 - 2002)
    p.portrait
      img(src='https://unitedisrael.org/wp-content/uploads/2015/12/image12-251x300.jpg')
    //- p.death
    //-   .date 2002-10-27
    //-   .loci Manhattan, US
    //- p.birth
    //-   .date 1903-04-09
    //-   .loci Malmö, Sweden
    //- .clear
    .content
      p David Horowitz, veteran United Nations correspondent, ardent Zionist, and founder of the United Israel World Union, died peacefully in his sleep in his Manhattan apartment on October 27, 2002. Born on April 9, 1903, in Malmö, Sweden, Horowitz reached the venerable age of 99, just shy of his 100th birthday. He was raised in Wilkes-Barre, PA, one of eight children of Cantor Aaron and Bertha Horowitz. The family immigrated to the United States in 1914.

      p David went to Israel as a young Zionist pioneer in 1924, staying through the end of 1927. During that time he learned Hebrew, worked on an agricultural settlement, and sought to be in touch with the biblical roots of the ancient land of Palestine. From his earliest days he was on a biblical quest. Late in 1927 he had a remarkable encounter with a prophetic figure, one Moses Guibbory, who at the time was living in the northwest area of Jerusalem in the Sanhedria tomb area. Horowitz details this meeting in his 1949 autobiography Thirty-Three Candles. This association changed and shaped his entire life.

      p Guibbory at the time had attracted the attention of various leading figures of his day, both inside and outside Palestine, among them Arthur Koestler, Rav Kook, Hillel Ceitlin, and Judas Magnes. David met and married Pola Kleinowna, who was visiting the Holy Land at the time from Poland. David and his new wife, now pregnant, left Palestine at the end of 1927 and lived with Pola's parents in Chrzanow, Poland. David was on a mission, commissioned directly by Moses Guibbory, to warn the Jews of Poland and eastern Europe of an impending great persecution as predicted by certain Kabbalists in Jerusalem. This warning had been printed and distributed by the two chief Rabbis of Palestine, Rav Kook and Rav Meir. He contacted various Jewish leaders, including the famous Hillel Ceitlin, in a largely fruitless attempt to urge emigration to Palestine before it was too late. Late in 1927 Nazi party propagandist Joseph Goebbels, who was in Palestine to cement relations between the Nazi party and certain Arab leaders, had visited Guibbory. He had heard of the unusual "prophet of the tombs" and paid a curiosity visit. Guibbory sensed what might be coming and commissioned the young Horowitz to carry the warning. Horowitz stayed in Poland for six months and subsequently sailed for America intending to bring his young wife and newly born son Emmanuel to the United States, as soon as he could arrange things. He never succeeded in getting them to come, as the family was very attached to them and cashed the tickets for passage that Horowitz had sent them. Pola died unexpectedly in 1938 and Emmanuel and his whole family were swept up in the Nazi invasion of Poland in 1939, and murdered at Auschwitz.

      p Horowitz returned to Jerusalem in 1932 and spent an intensive year working with Moses Guibbory on what they called the "Jerusalem Biblical Research." Guibbory had written a vast, 2000 page manuscript, in both Hebrew and English, on facing pages, that claimed to open the key to all the mysteries and obscurities of the Hebrew Bible, as well as to set forth the Divine Plan for the arrival of the Messianic age. Horowitz returned to the United States in 1934 and for the next decade put all his efforts into the publication of this research. It came out in 1943 under the title "The Bible in the Hands of Its Creators", and caused somewhat of a stir at the time, attracting the attention of various influential persons, including famous radio commentator Boake Carter. A society was formed under the same name with the purpose of promoting this volume. Guibbory came to the United States in 1943 where he remained until his death in 1985.

      p Late in 1943 David Horowitz had a sharp break with Moses Guibbory and in 1944 formed his own organization which he called the United Israel World Union. The purpose of the organization was to preach a universal Hebraic faith for all humankind based on the Decalogue and the other universal commandments of the Torah. The hallmark of the organization was Isaiah's prescription that "My house will become a house of prayer for all peoples," and "Whosoever will call upon the name of the LORD will be saved." Integral to Horowitz's vision was the idea that the "Lost Tribes of Israel," though scattered among the nations, and having lost their identity, would be part of the masses of "Gentiles" who would turn to the Hebrew faith, and join the Jewish people in pioneering a Messianic age. UIWU published a high quality color magazine called the United Israel Bulletin until 1958 when it was changed to tabloid newspaper style under the same name. At its height the UIWU listed 18,000 members worldwide. In Manhattan Horowitz associated most closely with the late ecumenical Rabbi Irving Block of the famed Brotherhood Synagogue. Though Horowitz adhered faithfully to his early Jerusalem experiences with Moses Guibbory, he became quite ecumenical in his own right over the years, welcoming those of all faiths under the universal umbrella of "Torah faith for all nations."

      p Horowitz obtained press credentials at the newly formed United Nations under the auspices of World Union Press, which he had formed as an arm of UIWU. He was present at the opening sessions in San Francisco and at Lake Success, NY. He maintained his UN office for over 50 years, publishing a weekly syndicated column, which at its peak, appeared in approximately 40 Anglo-Jewish newspapers. Horowitz was an outspoken Zionist and represented Israel and Jewish interests at the UN during his long and distinguished career.

      p In 1993, on the occasion of his 90th birthday, and the 50th anniversary of United Israel World Union, and then again at his 95th birthday, his achievements were hailed by a diverse Who's Who of the political and religious world, among them Benjamin Netanyahu, Elie Wiesel, Rabbi Alexander Schindler, Rabbi Irving Block, Rabbi Menachem Schneerson, John Glenn, and many others. Unfortunately he had outlived most of those with whom he had worked most closely, particularly David Ben Gurion, Dag Hammarksjold, Abba Eban, and King Abdullah (great grandfather of the present king of Jordan, with whom he carried on a passionate but friendly correspondence just following the end of the War). Horowitz functioned as an "unofficial" Zionist lobbyist and influenced the votes of three critical Central American states in the UN vote for the partition of Palestine on November 29, 1947. He also communicated indirectly with President Truman, through one of his chief aids, urging him to emphasize the biblical and prophetic destiny of the reestablishment of the State of Israel. In Truman's statement the morning after Israel's declaration of Independence, May 15, 1948, he refers to some of the ideas that Horowitz had passed on in a private memo in support of the recognition of the newly formed state by the United States."

      p Horowitz served as President of the UN Correspondents Association and Foreign Press Association; he received a special "lifetime achievement award" presented by Secretary General Boutros Gali. He worked tirelessly to expose ex-Nazis such as the Romanian Vallerian Trifa, who was subsequently deported. He was instrumental in having the terms "cunning, heretic, and extortionist" under the entry "Jew," removed from Roget's Thesaurus. He worked and wrote tirelessly for civil rights, both for African Americans and women, as early as the 1940s. He was particularly active in promoting the independence of indigenous peoples, such as that of the South Moluccans. David Horowitz received many honors and awards late in life. He was the oldest member of the United Nations Press corps. He received the Defender of Jerusalem Award presented by Yitzak Shamir in 1991; the Defender of Israel Medal presented by Menachem Begin in 1977, the Mordecai Ben David Award from Yeshiva University for Humanitarian Service in 1982, and the Jabotinsky Award in 1990. David is survived by a son, Herbert Solomon, of San Diego, CA. His beloved sec-ond wife, the former Nan Reilly, to whom he was married for 42 years, died in 1994.


      .more-info for more information see the 
        a(href='https://unitedisrael.org/remembering-david-horowitz/' target='about_blank')"Remembering David Horowitz" series.
      .source
        a(href='https://unitedisrael.org/remembering-david-horowitz/' target='about_blank') article source: unitedisrael.org
      .footer
        .subtitle 
          span bio written by: 
            a(href='https://unitedisrael.org/wp-content/uploads/2015/12/HorowitzBio.pdf' target='about_blank') unitedisrael.org
          br
          span html&css by:
            a(href='http://blogjono.com' target='about_blank') Jonathan T L Lee
        .clear
